h1{
    text-align: center;
}

h6{
    text-align: center;
}

body{
    background-image: url(https://modernparenting-onemega.com/wp-content/uploads/2023/06/How-Does-This-School-Applies-22Age-Appropriate22-Learning-1920x1080.jpg);
}

.form-card {
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px;
  background: rgba(210, 235, 255, 0.55);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}
